#world {
    position: relative;

}

.wall,
.space,
.plant,
.idiot,
.dead {
    width: 30px;
    height: 30px;
    position: absolute;
}

.wall {
    background-color: #8b4513;
}

.space {
    background-color: #d4d4d4;
}

.idiot {
    background-color: #ffef29;
}

.plant {
    background-color: #008000;
}

.dead {
    background-color: #000000;
}