.wall,
.space,
.plant,
.idiot {
    width: 20px;
    height: 20px;
    position: absolute;
}

.wall {
    background-color: #000000;
}

.space {
    background-color: #d4d4d4;
}

.idiot {
    background-color: #ffbc2e;
}

.plant {
    background-color: green;
}
